# Wöchentliche Aktualisierung, sonntags 02:00 Uhr (mit Nachhol-Lauf).
[Unit]
Description=Synapse Refresh wöchentlich

[Timer]
OnCalendar=Sun *-*-* 02:00:00
Persistent=true
RandomizedDelaySec=600

[Install]
WantedBy=timers.target
